{
"title": "${latestEvent.displayName}",
"text": "AppDynamics Event: ${latestEvent.summaryMessage} ${latestEvent.eventMessage}",
"alert_type":"error",
"priority":"normal",
"tags":["guid:${latestEvent.guid}","eventid:${latestEvent.id}","environment:${Environment}","os:${OS}","platform:${Platform}"]
}
